/* fonts */
@font-face {
    font-family: robot;
    src: url(https://cdn.shopify.com/s/files/1/0297/8132/7932/files/RobotoMono-Regular.ttf?v=1768204557);
}

@font-face {
    font-family: reckless;
    src: url(https://cdn.shopify.com/s/files/1/0297/8132/7932/files/RecklessCondensedS-TRIAL-Book.woff?v=1768655865);
}

@font-face {
    font-family: figtree;
    src: url(https://www.twoleavestea.com/cdn/fonts/figtree/figtree_n4.3c0838aba1701047e60be6a99a1b0a40ce9b8419.woff2);
}

@font-face {
    font-family: midnight;
    src: url(https://cdn.shopify.com/s/files/1/0297/8132/7932/files/midnight-sans-rd-12-medium-trial.otf?v=1768200246);
}

/* root */
:root {
    --primary-blue: #2A2857;
    --second-blue: #C0DBFF;
    --black: #000;
    --white: #fff;
    --body-color: #FBF9EB;
}

/* html and body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: var(--body-color);
}

a {
    text-decoration: none;
    color: var(--black);
}

/*blue header nav  */
.up-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-blue);
    color: var(--white);
    font-family: robot;
    padding: 0.8vh 0vh;
    text-transform: uppercase;
    box-shadow: 0px 0px 70px 0px rgba(83, 83, 83, 0.905);
}

.up-nav h5 {
    font-weight: 500;
    font-size: 0.8rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

/* nav-bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 1rem;
    border: 1px solid black;
    border-radius: 0.9rem;
    padding: 0.6rem 1.3rem;
    background-color: var(--white);
}

/* nav-1 */

.nav-1 {
    font-family: reckless;
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 40vw;
}

.nav-1 a {
    font-weight: 300;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.nav-1 i {
    font-size: 0.8rem;
    padding: 0.8px;
    background-color: var(--second-blue);
    border-radius: 50%;
    border: 1px solid var(--black);
    transition: transform 0.4s ease, background-color 0.1s ease;
    display: inline-block;
}

.nav-1 a:hover i {
    background-color: #FFB500;
    transform: rotate(180deg);
}

/* nav 2 */
.nav-2 {
    display: flex;
    justify-content: center;
}

.nav-2 img {
    height: auto;
    width: 6rem;
}

/* nav 3 */
.nav-3 {
    display: flex;
    align-items: center;
    justify-content: end;
    font-family: robot;
    gap: 1.5rem;
    text-transform: uppercase;
    position: relative;
    width: 40vw;
}

.nav-3 a {
    font-weight: 500;
    font-size: 0.8rem;
}

.nav-3 .cart {
    position: relative;
    display: inline-flex;
}

.nav-3 .ord {
    padding: 0.01rem 0.3rem;
    border-radius: 50%;
    border: 1px solid var(--black);
    background-color: #FFB500;
    position: absolute;
    right: -0.8rem;
    top: -0.4rem;
}

.nav-3 .ord h4 {
    font-size: 0.8rem;
    font-weight: 400;
}

.nav-3 svg {
    height: 1.8rem;
    width: auto;
    transition: all ease-in-out 0.3s;
}

.nav-3 svg:hover {
    transform: scale(0.9);
}

/* after:: in nav */
.nav-1 a,
.nav-3 a {
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 0%;
    bottom: -0.5rem;
    left: 0;
    background-color: var(--black);
    transition: width 0.4s ease;
}

nav a:hover::after {
    width: 100%;
    cursor: pointer;
}

/* section 1 */
.s-1 {
    background-image: url(https://www.twoleavestea.com/cdn/shop/files/cere-memorial_matcha_wide.png?v=1779304660&width=1800.0);
    height: 95vh;
    width: 100%;
    background-position: center 30%;
    background-size: cover;
    border-bottom: 1px solid var(--black);
    background-repeat: no-repeat;
    position: relative;
}

.s-1-text {
    padding-left: 2.6vw;
    position: absolute;
    bottom: 6vh;
    width: min(35vw, 550px);
}

.s-1-text h1 {
    font-family: reckless;
    text-transform: capitalize;
    font-size: clamp(3rem, 7vw, 5.3rem);
    font-weight: 300;
}

.s-1-text p,
.s-1-text button {
    font-family: figtree;
    font-size: 1.1rem;
}

.s-1-text p {
    padding-top: 1rem;
}

.s-1-text button {
    padding: 0.9rem 3.8rem;
    background-color: var(--primary-blue);
    color: var(--white);
    border: 1px solid var(--black);
    border-radius: 2rem;
    margin-top: 1.2rem;
    cursor: pointer;
    transition: ease 0.1s;
}

.s-1-text button:hover {
    color: var(--black);
    background-color: var(--white);
}

.s-1 .down {
    position: absolute;
    right: 2vw;
    bottom: -4vh;
}

.s-1 .side i {
    position: absolute;
    padding: 0.5rem;
    border-radius: 50%;
    border: 1px solid var(--black);
    background-color: var(--white);
    right: 2vw;
    top: 45vh;
    font-size: 2rem;
    cursor: pointer;
}

.s-1 .side i:hover {
    background-color: var(--primary-blue);
    color: var(--white);
}

.s-1 .fix-icon svg {
    color: white;
    width: clamp(40px, 2.5vw, 55px);
    padding: 0.3rem 0.5rem;
    border-radius: 50%;
    background-color: #60C6A6;
    position: fixed;
    bottom: 4%;
    left: 3%;
    z-index: 9999;
}

/* section 2 */

.s-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid var(--black);
}

.s-2-h1 {
    width: 55%;
    margin-top: 7rem;
}

.s-2-h1 h1 {
    font-family: reckless;
    text-align: center;
    font-size: clamp(2rem, 7vw, 4rem);
    font-weight: 300;
}

/* section 2 button */

.s-2-btn {
    transform: rotate(-3deg);
    margin-top: 9rem;
    width: 95%;
    padding: 0rem 1rem;
    display: flex;
    justify-content: center;
}

.s-2-btn a {
    font-size: clamp(2rem, 10vw, 5rem);
    padding: 0rem 0.5rem;
    font-family: midnight;
    font-weight: 600;
    word-spacing: 0.5rem;
    background-color: rgb(218, 174, 234);
    text-transform: uppercase;
    border: 1px solid var(--black);
    border-radius: 0.5rem;
}

/* section 2 card */
.card-container {
    height: 570px;
    width: 350px;
    font-family: figtree;
    margin-top: 4rem;
}

.card {
    height: 390px;
    width: 350px;
    border-radius: 0.7rem;
    border: 1px solid var(--black);
    padding: clamp(0.3rem, 5vw, 1rem);
}

.rating {
    display: flex;
    justify-content: space-between;

}

.rating a {
    font-size: clamp(0.3rem, 4vw, 0.9rem);
}

.rating h3 {
    font-family: midnight;
    text-transform: uppercase;
    background-color: var(--white);
    padding: 0.2rem;
    font-size: clamp(0.6rem, 5vw, 1.5rem);
    font-weight: 500;
    border: 1px solid var(--black);
    border-radius: 0.4rem;
}

.img-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.img-div img {
    width: 85%;
    transition: all ease-in-out 0.3s;
}

.img-div img:hover {
    transform: scale(1.1);
}

.add {
    display: flex;
    background-color: var(--white);
    position: absolute;
    bottom: -55px;
    right: -5px;
    width: 2.8rem;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--black);
    border-radius: 0.4rem;
    padding: 0.3rem;
    text-transform: capitalize;
    transition: 0.1s ease;
    cursor: pointer;
}

.add a,
.add i {
    font-size: clamp(0.5rem, 5vw, 0.9rem)
}

.add:hover {
    background-color: var(--primary-blue);
    color: var(--white);
}

.add:hover a {
    color: var(--white);
}

.card-text {
    width: 95%;
}

.card-text h3 {
    font-family: reckless;
    padding: 1rem 0rem;
    font-weight: 300;
    font-size: clamp(0.6rem, 6vw, 1.5rem);
}

.card-text h5 {
    font-weight: 200;
    font-size: clamp(0.5rem, 5vw, 0.9rem);
    color: #131313;
}

.card-text p {
    padding: 0.5rem 0rem;
    font-weight: 300;
    font-size: clamp(0.5rem, 5vw, 0.9rem);
    color: #2e2e2e;
}

.section-2-card {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    width: 100%;
    max-width: 100vw;
    padding: 1.5rem;
    scrollbar-width: none;
}

.section-2-card::-webkit-scrollbar {
    display: none;
}

/* card color */
.card-container:nth-child(1) .card {
    background-color: rgb(193, 238, 145);
}

.card-container:nth-child(2) .card {
    background-color: rgb(200, 232, 146);
}

.card-container:nth-child(3) .card {
    background-color: rgb(176, 232, 193);
}

.card-container:nth-child(4) .card {
    background-color: rgb(204, 227, 255);
}

.card-container:nth-child(5) .card {
    background-color: rgb(255, 216, 132);
}

.card-container:nth-child(6) .card {
    background-color: rgb(192, 229, 113);
}

.card-container:nth-child(7) .card {
    background-color: rgb(255, 203, 150);
}

.card-container:nth-child(8) .card {
    background-color: rgb(255, 209, 184);
}

.card-container:nth-child(9) .card {
    background-color: rgb(174, 224, 249);
}

/* section 2 explore button */
.a-btn-s-2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0rem 7rem 0rem;
}

.s-2-explore-btn a {
    padding: 0.9rem 3.8rem;
    background-color: var(--primary-blue);
    color: var(--white);
    border: 1px solid var(--black);
    border-radius: 2rem;
    cursor: pointer;
    transition: ease 0.1s;
    font-family: figtree;
    font-size: 1.1rem;
}

.s-2-explore-btn a:hover {
    color: var(--black);
    background-color: var(--white);
}

/* section 3 */
.s-3 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0px;
    padding-bottom: 7rem;
}

.Reviews-div {
    height: 25rem;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.Reviews-tag {
    transform: rotate(-3deg);
    padding: 5rem 0rem 3rem 0rem;
}

.Reviews-tag a {
    font-size: clamp(2rem, 10vw, 5rem);
    padding: 0rem 0.4rem;
    font-family: midnight;
    font-weight: 600;
    word-spacing: 0.5rem;
    background-color: #73BC25;
    text-transform: uppercase;
    border: 1px solid var(--black);
    border-radius: 0.5rem;
}

.Reviews-text h1 {
    font-family: reckless;
    font-size: clamp(2rem, 7vw, 4rem);
    font-weight: 300;
}

/* section 3 card */
.s-3-card-div {
    width: 100%;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.8rem;
    overflow-x: auto;
    scrollbar-width: none;
    padding: 2rem;
}

.s-3-card-div::-webkit-scrollbar {
    display: none;
}

.s-3-card-container {
    flex: 0 0 auto;
    height: 410px;
    width: 280px;
    border-radius: 0.7rem;
    border: 1px solid var(--black);
    padding: clamp(0.3rem, 5vw, 1rem);
    background-color: #cec0cd;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* card name section */
.Review-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 1rem;
}

.Review-name h3 {
    font-family: reckless;
    font-weight: 300;
    font-size: clamp(1.8rem, 8vw, 2rem);
    word-spacing: 3px;
    line-height: 1.1;
}

.Review-name p {
    font-family: figtree;
    padding: 1rem;
    font-size: 0.9rem;
    color: #2b2b2baf;
}

.s-3-card-container:nth-child(2) h3,
.s-3-card-container:nth-child(3) h3 {
    font-size: clamp(0.9rem, 6vw, 1.5rem);
}

.s-3-card-container:nth-child(1) {
    background-color: #F5AF8A;
}

.s-3-card-container:nth-child(2) {
    background-color: #ABDF74;
}

.s-3-card-container:nth-child(3) {
    background-color: #FFD265;
}

.s-3-card-container:nth-child(4) {
    background-color: #ADE674;
}

.s-3-card-container:nth-child(5) {
    background-color: #D9C2E1;
}

/* card shop section */
.Review-product {
    position: absolute;
    width: 260px;
    bottom: 0.5rem;
    border-radius: 0.7rem;
}

.s-3-card-img {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--black);
    padding: 0.1rem;
    gap: 4px;
    border-radius: 0.7rem;
}

.s-3-card-img img {
    height: 60px;
}

.line {
    height: 60px;
    margin-top: 0px;
    padding: 0px;
    width: 1px;
    background-color: var(--black);
}

.s-3-card-img p {
    font-family: robot;
    font-size: clamp(0.8rem, 5vw, 0.9rem);
    text-transform: uppercase;
    line-height: 1;
}

.s-3-card-img a {
    font-family: figtree;
    font-size: clamp(0.9rem, 6vw, 1rem);
    background-color: var(--white);
    padding: 0.7rem 0.9rem;
    border-radius: 40px;
    border: 1px solid var(--black);
    margin: 3px;
    transition: all ease-in-out 0.3s;
}

.s-3-card-img a:hover {
    transform: scale(0.8);
}

.s-3-card-container:nth-child(1) .Review-product {
    background-color: #EA6D44;
}

.s-3-card-container:nth-child(2) .Review-product {
    background-color: #73BC25;
}

.s-3-card-container:nth-child(3) .Review-product {
    background-color: #FFB500;
}

.s-3-card-container:nth-child(4) .Review-product {
    background-color: #8BC045;
}

.s-3-card-container:nth-child(5) .Review-product {
    background-color: #C790DB;
}

/* section 4 */
.s-4 {
    height: 100%;
    width: 100%;
    background-image: url(https://www.twoleavestea.com/cdn/shop/files/adam-vradenburg-_gu7E90QChU-unsplash_1_1.webp?v=1771592855&width=2000);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.kettle {
    position: absolute;
    right: 5%;
    top: -1%;
}

.kettle img {
    width: clamp(5rem, 10vw, 15rem);
}

.s-4-origins-btn {
    transform: rotate(-3deg);
    padding: 0rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    height: clamp(5rem, 30vw, 17rem);
}

.s-4-origins-btn button {
    font-size: clamp(1.5rem, 4vw, 4rem);
    padding: 0rem 0.5rem;
    font-family: midnight;
    font-weight: 600;
    word-spacing: 0.5rem;
    background-color: #A2C9FC;
    text-transform: uppercase;
    border: 1px solid var(--black);
    border-radius: 0.5rem;
    box-shadow: 10px 30px 20px rgba(0, 0, 0, 0.397);
}

.s-4-h1 {
    width: 50%;
    text-align: center;
    font-size: clamp(2rem, 10vw, 5rem);
    height: clamp(10rem, 50vw, 25rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-4-h1 h1 {
    color: white;
    font-family: midnight;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 5px;
}

.s-4-p {
    width: 90%;
    height: clamp(10rem, 50vw, 25rem);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: reckless;
    font-size: clamp(1.1rem, 5vw, 3.5rem);
    word-spacing: 3px;
    line-height: 1.2;
    color: white;
}

.s-4-img-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: clamp(2rem, 5vw, 4rem);
    width: 100%;
    margin: 7rem 0rem;
}

.s-4-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.s-4-img-div p {
    color: var(--white);
    font-family: robot;
    text-transform: uppercase;
    width: clamp(8rem, 16vw, 10rem);
    text-align: center;
    font-size: clamp(0.4rem, 4vw, 0.9rem);
}

.s-4-img img {
    width: clamp(4rem, 8vw, 12rem);
}

.s-4-btn {
    padding-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.s-4-btn a {
    padding: 0.9rem 4rem;
    font-family: figtree;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 2rem;
    cursor: pointer;
    transition: ease 0.1s;
}

.s-4-btn a:hover {
    color: var(--white);
    background-color: var(--primary-blue);
}

/* section 5 */
.s-5 {
    height: 100%;
    width: 100%;
    padding-top: clamp(1rem, 4vh, 3rem);
    padding-bottom: 5rem;
}

.s-5-search {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Discover-tag {
    width: 70%;
    transform: rotate(-3deg);
    padding: 5rem 0rem 3rem 0rem;
}

.Discover-tag a {
    font-size: clamp(2.5rem, 6vw, 4rem);
    padding: 0rem 0.4rem;
    font-family: midnight;
    font-weight: 600;
    word-spacing: 0.5rem;
    background-color: #FF7F31;
    text-transform: uppercase;
    border: 1px solid var(--black);
    border-radius: 0.5rem;
}

.Discover-text {
    width: 70%;
    padding: 1rem 0rem 2rem 0rem;
}

.Discover-text h1 {
    font-family: reckless;
    font-size: clamp(2rem, 7vw, 4rem);
    font-weight: 300;
}

.s-5-searchbar {
    width: 70%;
    padding: 1rem 0rem 3rem 0rem;
}

.s-5-searchbar input {
    width: 50%;
    height: 5rem;
    padding: 2rem;
    outline: none;
    border: 1px solid var(--black);
    border-radius: 0.7rem;
    font-size: clamp(0.9rem, 7vw, 1.7rem);
    font-family: reckless;
    color: #0000007e;
    text-transform: capitalize;
    background-color: transparent;
    transition: 0.4s;
}

.s-5-searchbar input:hover {
    width: 100%;
    display: flex;
}

.s-5-exp {
    width: 70%;
    padding: 2.2rem 0rem 0.4rem 0rem;
    display: flex;
    font-family: figtree;
    text-transform: uppercase;
    color: #000000be;
    font-size: clamp(0.4rem, 3vw, 07rem);
}

.s-5-exp-btn {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    gap: 0.5rem;
    font-family: reckless;
    font-size: clamp(1.8rem, 8vw, 2rem);
    padding: 1rem 0rem;
}

.s-5-exp-btn a {
    border: 1px solid var(--black);
    border-radius: 0.7rem;
    line-height: 1.2;
    padding: 0.3rem 1.2rem;
    background-color: #DAEAFF;
    transition: 0.3s;
    color: #201C1A;
}

.s-5-exp-btn a:hover {
    background-color: #A2C9FC;
}

/* section 6 */
.s-6 {
    width: 100%;
    height: 100vh;
    display: flex;
    padding-top: 5rem;
}

.s-6-img-div {
    height: 100%;
    width: 50%;
}

.s-6-img-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.s-6-text-div {
    height: 100%;
    width: 50%;
    background-color: var(--primary-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: clamp(3rem, 5vw, 4rem);
}

.s-6-h1 h1 {
    width: 90%;
    padding: 1rem 0rem;
    color: var(--white);
    font-family: reckless;
    font-size: clamp(3rem, 7vw, 5rem);
    font-weight: 300;
    line-height: 1.1;
}

.s-6-p p {
    width: 80%;
    padding: 1rem 0rem;
    color: var(--white);
    font-family: figtree;
    font-size: clamp(0.8rem, 2vw, 1.4rem);
    font-weight: 500;
}

.s-6-btn {
    padding: 3rem 0rem;
    width: 80%;
}

.s-6-btn a {
    padding: 0.9rem 4rem;
    font-family: figtree;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 2rem;
    cursor: pointer;
    transition: ease 0.1s;
}

.s-6-btn a:hover {
    color: var(--white);
    background-color: var(--primary-blue);
}

/* section 7 */
.s-7 {
    width: 100%;
    min-height: 100%;
    background-color: #4A6808;
    position: relative;
    padding: 2rem;
}

.s-7-top-img {
    position: absolute;
    right: 5%;
    top: -3%;
}

.s-7-top-img img {
    width: clamp(5rem, 10vw, 15rem);
}

.s-7-blends-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: clamp(5rem, 15vh, 7rem);
}

.lattes-btn {
    transform: rotate(-3deg);
    padding: 5rem 0rem 1rem 0rem;
}

.lattes-btn a {
    font-size: clamp(2.5rem, 6vw, 4rem);
    padding: 0rem 0.4rem;
    font-family: midnight;
    font-weight: 600;
    word-spacing: 0.5rem;
    background-color: #C0E571;
    text-transform: uppercase;
    border: 1px solid var(--black);
    border-radius: 0.5rem;
}

.lattes-text {
    color: white;
    text-transform: uppercase;
}

.lattes-text h1 {
    font-family: midnight;
    font-size: clamp(3rem, 8vw, 5rem);
    font-weight: 500;
    letter-spacing: 3px;
}

.lattes-text p {
    font-family: robot;
    font-size: clamp(0.4rem, 3vw, 0.9rem);
    padding-top: 0.5rem;
}

.s-7-shop-div {
    width: 100%;
    border-radius: 0.7rem;
    border: 1px solid black;
    background-color: #C0E571;
    margin: 0 auto;
    display: flex;
}

.s-7-img-div {
    width: 50%;
    min-height: 500px;
    position: relative;
}

.s-7-img-div img {
    position: absolute;
    top: -7vh;
    width: 100%;
    height: 100%;
}

.s-7-text-div {
    width: 50%;
}

.s-7-text-div {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.s-7-nice-btn {
    transform: rotate(-3deg);
    padding-bottom: 1.5rem;
}

.s-7-nice-btn a {
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    padding: 0rem 0.4rem;
    font-family: midnight;
    font-weight: 600;
    word-spacing: 0.5rem;
    background-color: rgb(135, 192, 13);
    text-transform: uppercase;
    border: 1px solid var(--black);
    border-radius: 0.5rem;
}

.s-7-text-h1 {
    width: 45%;
}

.s-7-text-h1 h1 {
    font-family: reckless;
    font-size: clamp(2rem, 7vw, 4rem);
    font-weight: 300;
}

.s-7-text-p {
    width: 64%;
    padding: 1rem 0rem;
    font-family: figtree;
    font-size: clamp(0.5rem, 4.6vw, 1.1rem);
    font-weight: 500;
}

.s-7-shop-btn {
    padding: 1rem 0rem;
}

.s-7-shop-btn a {
    padding: 0.9rem 4rem;
    font-family: figtree;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 2rem;
    cursor: pointer;
    transition: ease 0.1s;
}

.s-7-shop-btn a:hover {
    color: var(--white);
    background-color: var(--primary-blue);
}

/* section 8 */
.s-8 {
    height: 100%;
    width: 100%;
    padding-top: clamp(1rem, 4vh, 3rem);
    padding-bottom: 5rem;
}

.s-8-journal-div {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.journal-tag {
    width: 70%;
    transform: rotate(-3deg);
    padding: 3rem 0rem;
}

.journal-tag a {
    font-size: clamp(2.5rem, 6vw, 4rem);
    padding: 0rem 0.4rem;
    font-family: midnight;
    font-weight: 600;
    word-spacing: 0.5rem;
    background-color: #FFB500;
    text-transform: uppercase;
    border: 1px solid var(--black);
    border-radius: 0.5rem;
}

.journal-text {
    width: 70%;
    padding: 1rem 0rem;
}

.journal-text h1 {
    font-family: reckless;
    font-size: clamp(2rem, 7vw, 4rem);
    font-weight: 300;
}

/* section 8 card */
.s-8-card-container {
    height: 410px;
    width: 340px;
    background-color: rgb(192, 219, 255);
    border: 1px solid var(--black);
    margin-top: 3rem;
    border-radius: 0.7rem;
    overflow: hidden;
}

.s-8-card {
    height: 350px;
    width: 340px;
    position: relative;
    background-color: #60C6A6;
}

.s-8-card-name h3 {
    font-family: midnight;
    text-transform: uppercase;
    background-color: var(--white);
    padding: 0rem 0.2rem;
    font-size: clamp(0.6rem, 5vw, 1.5rem);
    font-weight: 500;
    border: 1px solid var(--black);
    border-radius: 0.4rem;
    position: absolute;
    z-index: 2;
    margin: 1rem;
    transition: 0.1s;
}

.s-8-card-container:hover h3 {
    transform: rotate(-3deg);
}

.s-8-img-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--primary-blue);
    border-bottom: 1px solid black;
}

.s-8-img-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transition: ease-in-out 0.3s;
}

.s-8-card-container:hover img {
    transform: scale(1.05);
}

.s-8-card-text {
    font-family: robot;
    text-transform: uppercase;
    width: 100%;
    padding: 0.5rem;
}

.s-8-card-text h5 {
    font-weight: 200;
    font-size: clamp(0.7rem, 6vw, 1rem);
    color: #131313;
}

.section-8-card {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    width: 100%;
    max-width: 100vw;
    padding: 1.5rem;
    scrollbar-width: none;
}

.section-8-card::-webkit-scrollbar {
    display: none;
}

.s-8-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0rem;
}

.s-8-btn a {
    padding: 0.9rem 3.8rem;
    background-color: var(--primary-blue);
    color: var(--white);
    border: 1px solid var(--black);
    border-radius: 2rem;
    cursor: pointer;
    transition: ease 0.1s;
    font-family: figtree;
    font-size: clamp(0.9rem, 2vw, 1rem);
    text-align: center;
}

.s-8-btn a:hover {
    color: var(--black);
    background-color: var(--white);
}

/* section 9 */
.s-9 {
    width: 100%;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}

.s-9-laptop {
    padding: 2rem;
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(https://www.twoleavestea.com/cdn/shop/files/1440.webp?v=1771593223&width=1125.0);
}

.s-9-text-div {
    height: 80vh;
    width: 30vw;
    padding: 3rem;
    background-color: #F26412;
    border-radius: 0.7rem;
    border: 1px solid var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.s-9-text-h1 h1 {
    width: 80%;
    color: var(--white);
    font-family: reckless;
    font-size: clamp(2rem, 6vw, 3.7rem);
    font-weight: 300;
    line-height: 1.1;
}

.s-9-btn {
    padding: 3rem 0rem;
    width: 80%;
}

.s-9-btn a {
    padding: 0.9rem 4rem;
    font-family: figtree;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 2rem;
    cursor: pointer;
    transition: ease 0.1s;
}

.s-9-btn a:hover {
    color: var(--white);
    background-color: var(--primary-blue);
}

.s-9-phone {
    width: 100%;
    background-color: #F26412;
    padding: 3rem;
    display: none;
}

.s-9-phone-text-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.s-9-phone-text-h1 h1 {
    color: var(--white);
    text-align: center;
    font-family: reckless;
    font-size: clamp(3rem, 6vw, 3.7rem);
    font-weight: 300;
    line-height: 1.1;
}

.s-phone-9-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.s-phone-9-btn a {
    font-family: figtree;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 2rem;
    cursor: pointer;
    transition: ease 0.1s;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    text-align: center;
}

.s-phone-9-btn a:hover {
    color: var(--white);
    background-color: var(--primary-blue);
}

/* footer */

footer {
    width: 100%;
    background: var(--second-blue);
    overflow: hidden;
}

.footer-top {
    width: 70%;
    margin: auto;
    padding: 4rem 0rem;
}

.footer-h3 h3 {
    font-family: midnight;
    text-transform: uppercase;
    font-size: clamp(1rem, 2.7vw, 2.8rem);
    font-weight: 500;
    color: #201C1A;
}

.footer-p {
    width: 60%;
    margin-top: 2rem;
}

.footer-p p {
    font-family: reckless;
    font-size: clamp(0.8rem, 2.2vw, 2.3rem);
    line-height: 1.1;
    color: #4d4d4d;
}

.submit-div {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 2rem;
}

.email-div {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.email-div input[type="email"] {
    width: 26rem;
    padding: 1rem 1.5rem;
    border-radius: 0.7rem;
    color: #c4c3c2bf;
    border: 1px solid var(--black);
    font-family: figtree;
    font-size: 1.1rem;
}

.email-div input[type="submit"] {
    padding: 1rem 3.5rem;
    height: 40%;
    border: 1px solid var(--black);
    border-radius: 3rem;
    background: var(--primary-blue);
    color: var(--white);
    font-family: figtree;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s ease;
}

.email-div input[type="submit"]:hover {
    background: #FFB500;
    color: var(--black);
}

.footer-icon {
    display: flex;
    gap: 1rem;
}

.footer-icon i {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.footer-icon i:hover {
    background: var(--white);
    transform: scale(1.02);
}

.footer-mid {
    width: 95%;
    margin: auto;
    background: var(--primary-blue);
    border-radius: 0.7rem;
    padding: 2.5rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem 7rem;
}

.footer-link {
    display: flex;
    flex-direction: column;
}

.footer-link h3 {
    color: var(--white);
    font-family: reckless;
    font-weight: 300;
    font-size: clamp(1rem, 1.5vw, 1.9rem);
    margin-bottom: 1rem;
}

.footer-link a {
    width: fit-content;
    color: #9391A1;
    font-family: figtree;
    font-size: clamp(0.8rem, 1.2vw, 1.2rem);
    margin-bottom: 0.3rem;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease;
}

.footer-link a:hover {
    color: var(--white);
}

.footer-link a::after {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 0%;
    bottom: -0.1rem;
    left: 0;
    background-color: var(--white);
    transition: width 0.3s ease;
}

.footer-link a:hover::after {
    width: 100%;
    cursor: pointer;
    color: var(--white);
}

.footer-bottom {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.footer-logo img {
    width: clamp(12rem, 20vw, 22rem);
    height: auto;
}

.footer-mountain {
    width: 100%;
}

.footer-mountain img {
    width: 100%;
    height: 55vh;
    object-fit: cover;
}

.footer-copyright {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1rem 2rem;
    text-align: center;
    text-transform: uppercase;
}

.footer-copyright p {
    font-family: robot;
    font-size: 0.7rem;
    font-weight: 600;
    color: #5F6875;
}

.footer-copyright a {
    cursor: pointer;
    color: #5F6875;
}

/* responsive section  */

.phone-nav {
    display: none;
}

@media screen and (max-width: 1250px) {

    .s-1 {
        background-image: url(https://www.twoleavestea.com/cdn/shop/files/matcha_mobile.png?v=1779455800&width=1350.0);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .s-1-text {
        width: 100%;
        padding: 2rem;
        text-align: center;
    }

    .s-1-text button {
        width: 100%;
        padding: 0.8rem 2rem;
        font-size: 1rem;
    }

    .phone-nav {
        display: block;
        width: 40vw;
    }

    .nav-3 {
        width: 40vw;
    }

    .phone-nav i {
        font-size: 2rem;
    }

    .nav-1 {
        display: none;
    }

    .nav-3 a {
        display: none;
    }

    /* section 2 */

    .s-2-h1 {
        width: 75%;
    }

    .s-2-btn {
        margin-top: 4rem;
        justify-content: start;
    }

    .card-container,
    .card {
        margin-top: 1rem;
    }

    .s-2-explore-btn {
        padding: 0.8rem 2rem;
        font-size: 1rem;
    }

    .s-2-explore-btn a {
        padding: 0.8rem 2rem;
    }

    /* section 3 */
    .Reviews-text {
        display: none;
    }

    .Reviews-tag {
        justify-content: start;
    }

    .Reviews-div {
        height: 10rem;
        padding-left: 2rem;
    }

    .s-3 {
        align-items: flex-start;
        padding: 3rem 0rem;
    }

    .s-3-card-container {
        margin-top: 2rem;
    }

    /* section 4 */
    .s-4-btn a {
        width: 100%;
        padding: 0.8rem 2rem;
        font-size: 1rem;
        text-align: center;
    }

    /* section 5 */
    .Discover-tag,
    .Discover-text,
    .s-5-searchbar,
    .s-5-exp,
    .s-5-exp-btn {
        width: 90%;
    }

    .s-5 {
        padding-bottom: 3rem;
    }

    /* section 6 */
    .s-6 {
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }

    .s-6-img-div {
        width: 100%;
        height: 50vh;
    }

    .s-6-text-div {
        padding: 2rem;
        width: 100%;
        height: 43%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .s-6-h1 h1,
    .s-6-p p {
        margin: 0 auto;
    }

    .s-6-h1,
    .s-6-p,
    .s-6-btn {
        width: 80%;
    }

    .s-6-btn a {
        display: inline-block;
        width: 50%;
        padding: 0.8rem 2rem;
        font-size: 1rem;
    }

    .s-6 {
        padding-top: 3rem;
    }

    /* section 7 */
    .s-7-text-div {
        width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .s-7-text-p {
        width: 100%;
    }

    .s-7-shop-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    }

    .s-7-img-div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .s-7-img-div img {
        width: 80%;
        right: 25%;
    }

    .s-7-shop-btn a {
        display: inline-block;
        padding: 0.8rem 2rem;
        font-size: 1rem;
        text-align: center;
    }

    /* section 8 */
    .s-8-btn {
        padding: 0.8rem 2rem;
        font-size: 1rem;
    }

    .s-8-btn a {
        padding: 0.8rem 2rem;
    }

    /* section 9 */

    .s-9-phone {
        display: block;
    }

    .s-9-text-div {
        display: none;
    }

    .s-9-laptop {
        height: 50vh;
        background-size: cover;
        width: 100%;
        background-position: right;
    }

    .s-phone-9-btn a {
        display: inline-block;
        width: 100%;
        padding: 0.8rem 2rem;
        font-size: 1rem;
    }

    /* footer */

    .footer-mid {
        padding: 1rem;
    }

    .footer-container {
        flex-direction: column;
        gap: 0;
    }

    .footer-link {
        border-bottom: 1px solid rgba(255, 255, 255, .15);
        padding: 1.4rem 0;
        position: relative;
    }

    .footer-link h3 {
        margin: 0;
        font-size: 2.2rem;
    }

    .footer-link h3::after {

        content: "\ea4e";
        font-family: "remixicon";
        position: absolute;
        right: 0;
        top: 1.3rem;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        background: var(--second-blue);
        color: var(--primary-blue);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
    }

    .footer-link a {
        display: none;
    }

    .footer-p {
        width: 100%;
    }

    .email-div {
        width: 100%;
        flex-direction: column;
    }

    .email-div input[type="email"] {
        width: 100%;
    }

    .email-div input[type="submit"] {
        width: 100%;
    }

    .submit-div {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .footer-mountain img {
        height: 45vh;
    }

}

@media screen and (max-width: 950px) {
    .s-7-img-div img {
        width: 80%;
        right: 20%;
    }

    /* footer */
    .footer-mountain img {
        height: 40vh;
    }
}

@media screen and (max-width: 700px) {

    .card-container,
    .card {
        width: 300px;
    }

    .card-container {
        height: 530px;
    }

    .card {
        height: 320px;
    }

    .add {
        bottom: -30px;
        right: -5px;
    }

    /* section3 */
    .s-3-card-container {
        height: 380px;
        width: 260px;
        padding: 0rem;
    }

    .Review-product {
        width: 230px
    }

    .s-3-card-container {
        margin-top: 0rem;
    }

    /* section 5 */
    .s-5-searchbar input {
        width: 100%;
    }

    /* section 6 */
    .s-6-btn {
        padding: 2rem;
    }

    .s-6-btn a {
        display: inline-block;
        width: 100%;
        padding: 0.8rem 2rem;
        font-size: 1rem;
    }

    .s-6-h1,
    .s-6-p,
    .s-6-btn {
        width: 90%;
    }

    /* section 7 */
    .s-7-img-div img {
        width: 100vw;
        right: 10%;
    }

    .s-8-card-container,
    .s-8-card {
        width: 300px;
    }

    .s-8-card-container {
        height: 390px;
    }

    .s-8-card {
        height: 320px;
    }

    /* footer */
    .footer-mountain img {
        height: 35vh;
    }
}

@media screen and (max-width: 470px) {

    .card-container,
    .card {
        width: 250px;
    }

    .card-container {
        height: 480px;
    }

    .card {
        height: 280px;
    }

    .add {
        bottom: -33px;
        right: -4px;
    }

    /* section 6 */
    .s-6-h1,
    .s-6-p,
    .s-6-btn {
        width: 100%;
    }

    /* section 7 */
    .s-7-img-div img {
        width: 120vw;
        right: 4%;
    }

    /* footer */
    .footer-mountain img {
        height: 30vh;
    }
}