/* fonts */
@font-face {
    font-family: robot;
    src: url(https://cdn.shopify.com/s/files/1/0297/8132/7932/files/RobotoMono-Regular.ttf?v=1768204557);
}

@font-face {
    font-family: reckless;
    src: url(https://cdn.shopify.com/s/files/1/0297/8132/7932/files/RecklessCondensedS-TRIAL-Book.woff?v=1768655865);
}

@font-face {
    font-family: figtree;
    src: url(https://www.twoleavestea.com/cdn/fonts/figtree/figtree_n4.3c0838aba1701047e60be6a99a1b0a40ce9b8419.woff2);
}

/* root */
:root {
    --primary-blue: #2A2857;
    --second-blue: #C0DBFF;
    --black: #000;
    --white: #fff;
    --body-color: #FBF9EB;
}

/* html and body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: var(--body-color);
}

a {
    text-decoration: none;
    color: var(--black);
}

/*blue header nav  */
.up-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-blue);
    color: var(--white);
    font-family: robot;
    padding: 0.8vh 0vh;
    text-transform: uppercase;
    box-shadow: 0px 0px 70px 0px rgba(83, 83, 83, 0.905);
}

.up-nav h5 {
    font-weight: 500;
    font-size: 0.8rem;
}

/* nav-bar */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 1rem;
    border: 1px solid black;
    border-radius: 0.9rem;
    padding: 0.6rem 1.3rem;
    background-color: var(--white);
}

/* nav-1 */

.nav-1 {
    font-family: reckless;
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 40vw;
}

.nav-1 a {
    font-weight: 300;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.nav-1 i {
    font-size: 0.8rem;
    padding: 0.8px;
    background-color: var(--second-blue);
    border-radius: 50%;
    border: 1px solid var(--black);
    transition: transform 0.4s ease, background-color 0.1s ease;
    display: inline-block;
}

.nav-1 a:hover i {
    background-color: #FFB500;
    transform: rotate(180deg);
}

/* nav 2 */
.nav-2 {
    display: flex;
    justify-content: center;
}

.nav-2 img {
    height: auto;
    width: 6rem;
}

/* nav 3 */

.nav-3 {
    display: flex;
    align-items: center;
    justify-content: end;
    font-family: robot;
    gap: 1.5rem;
    text-transform: uppercase;
    position: relative;
    width: 40vw;
}

.nav-3 a {
    font-weight: 500;
    font-size: 0.8rem;
}

.nav-3 .cart {
    position: relative;
    display: inline-flex;
}

.nav-3 .ord {
    padding: 0.01rem 0.3rem;
    border-radius: 50%;
    border: 1px solid var(--black);
    background-color: #FFB500;
    position: absolute;
    right: -0.8rem;
    top: -0.4rem;
}

.nav-3 .ord h4 {
    font-size: 0.8rem;
    font-weight: 400;
}

.nav-3 svg {
    height: 1.8rem;
    width: auto;
    transition: all ease-in-out 0.3s;
}

.nav-3 svg:hover {
    transform: scale(0.9);
}

/* after:: in nav */

.nav-1 a,
.nav-3 a {
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 0%;
    bottom: -0.5rem;
    left: 0;
    background-color: var(--black);
    transition: width 0.4s ease;
}

nav a:hover::after {
    width: 100%;
    cursor: pointer;
}

/* section 1 */
.s-1 {
    background-image: url(https://www.twoleavestea.com/cdn/shop/files/cere-memorial_matcha_wide.png?v=1779304660&width=1800.0);
    height: 95vh;
    width: 100%;
    background-position: center 30%;
    background-size: cover;
    border-bottom: 1px solid var(--black);
    background-repeat: no-repeat;
    position: relative;
}

.s-1-text {
    padding-left: 2.6vw;
    position: absolute;
    bottom: 6vh;
    width: min(35vw, 550px);
}

.s-1-text h1 {
    font-family: reckless;
    text-transform: capitalize;
    font-size: clamp(3rem, 7vw, 5.3rem);
    font-weight: 300;
}

.s-1-text p,
.s-1-text button {
    font-family: figtree;
    font-size: 1.1rem;
}

.s-1-text p {
    padding-top: 1rem;
}

.s-1-text button {
    padding: 0.9rem 3.8rem;
    background-color: var(--primary-blue);
    color: var(--white);
    border: 1px solid var(--black);
    border-radius: 2rem;
    margin-top: 1.2rem;
    cursor: pointer;
    transition: ease 0.1s;
}

.s-1-text button:hover {
    color: var(--black);
    background-color: var(--white);
}

.s-1 .down {
    position: absolute;
    right: 2vw;
    bottom: -4vh;
}

.s-1 .side i {
    position: absolute;
    padding: 0.5rem;
    border-radius: 50%;
    border: 1px solid var(--black);
    background-color: var(--white);
    right: 2vw;
    top: 45vh;
    font-size: 2rem;
    cursor: pointer;
}

.s-1 .side i:hover {
    background-color: var(--primary-blue);
    color: var(--white);
}

.s-1 .fix-icon svg {
    color: white;
    width: clamp(40px, 2.5vw, 55px);
    padding: 0.3rem 0.5rem;
    border-radius: 50%;
    background-color: #60C6A6;
    position: fixed;
    bottom: 4%;
    left: 3%;
}

/* responsive section 1 */

.phone-nav {
    display: none;
}

@media screen and (max-width: 1250px) {

    .s-1 {
        background-image: url(https://www.twoleavestea.com/cdn/shop/files/matcha_mobile.png?v=1779455800&width=1350.0);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .s-1-text {
        width: 100%;
        padding: 2rem;
        text-align: center;
    }

    .s-1-text button {
        width: 100%;
        padding: 0.8rem 2rem;
        font-size: 1rem;
    }

    .phone-nav {
        display: block;
        width: 40vw;
    }

    .nav-3 {
        width: 40vw;
    }

    .phone-nav i {
        font-size: 2rem;
    }

    .nav-1 {
        display: none;
    }

    .nav-3 a {
        display: none;
    }
}